//-----------------------------------------------------------------------------------
//  DesignKit Package © 2026 by Alexander Tverskoy
//  Licensed under the MIT License
//  You may obtain a copy of the License at https://opensource.org/licenses/MIT
//-----------------------------------------------------------------------------------

TFORMGRIP RCDATA "img/TFORMGRIP.PNG"
TFLATBUTTON RCDATA "img/TFLATBUTTON.PNG"
TSPELLCHECKER RCDATA "img/TSPELLCHECKER.PNG"